.timesegment {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    flex: 0 0 100px;
  }
  &-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > :not(.divider) {
      flex: 1;
    }
    .divider {
      color: #aaa;
      flex: 0 0 20px;
      text-align: center;
    }
  }
}
